/* @font-face{font-family:fsalbert;font-style:normal;font-weight:400;src:local('FSAlbert'),url('https://fonts.cdnfonts.com/s/61192/FSAlbert Regular.woff') format('woff')} */

@font-face {
  font-family: fsalbert;
  font-style: normal;
  font-weight: 400;
  src: local("FSAlbert"), url("src/css/FSAlbert Regular.woff") format("woff");
}
